/* Finish page styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.start-button {
    background-color: #F37021;
    color: white;
    border: 10px solid #F37021;
    font-size: 48px;
    cursor: pointer;
    width: 350px;
    height: 110px;
    border-radius: 70px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.start-button.loading::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: white;
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.score {
    font-size: 120px;
    color: #fff;
    position: absolute;
    top: 885px;
    left: 50%;
    transform: translateX(-50%);
}

.buttoncontainer {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.your-score {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #002F87;
}

#score {
    font-size: 166px;
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 117px;
    -webkit-text-stroke: 5px #002F87;
    text-shadow: 0px 7px 0 #002F87;
}

.POINTS {
    font-size: 50px;
    color: #fff;
    padding: 0;
    margin: 0;
    -webkit-text-stroke: 2px #002F87;
    text-shadow: 0px 3px 0 #002F87;
}
