/* Game over page styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.start-button {
    background-color: red;
    color: white;
    border: 2px solid white;
    font-size: 48px;
    cursor: pointer;
    width: 400px;
    height: 100px;
    border-radius: 70px;
}

.start-button:hover {
    opacity: 0.8;
}
