/* Language selection page styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../images/startbg.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.button {
    background-color: red;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 48px;
    cursor: pointer;
    width: 315px;
    height: 100px;
    border-radius: 70px;
    margin: 10px 0;
}

.button:hover {
    opacity: 0.8;
}

.buttons-container {
    position: absolute;
    bottom: 172px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
