/* Instruction page styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.start-button {
    background-color: #0060AC;
    color: white;
    border: 10px solid white;
    font-size: 48px;
    cursor: pointer;
    width: 350px;
    height: 110px;
    border-radius: 70px;
}

.start-button:hover {
    opacity: 0.8;
}

.buttoncontainer {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}
