/* Start page styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.start-button {
    background-color: #0060AC;
    color: white;
    border: 10px solid white;
    font-size: 48px;
    cursor: pointer;
    width: 350px;
    height: 110px;
    border-radius: 70px;
}

.start-button:hover {
    opacity: 0.8;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    z-index: -1;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.buttoncontainer {
    position: absolute;
    bottom: 44%;
    left: 50%;
    transform: translateX(-50%);
}
