/* Start page styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.start-button {
    background-color: #F37021;
    color: white;
    border: 10px solid #F37021;
    font-size: 48px;
    cursor: pointer;
    width: 400px;
    height: 110px;
    border-radius: 70px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.start-button.loading::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: white;
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    z-index: -1;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.buttoncontainer {
    position: absolute;
    bottom: 44%;
    left: 50%;
    transform: translateX(-50%);
}
