/* Try Again page styles */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.tryagain-button {
  background-color: #f37021;
  color: white;
  border: 10px solid #f37021;
  font-size: 48px;
  cursor: pointer;
  width: 420px;
  height: 110px;
  border-radius: 70px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tryagain-button.loading::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 25px;
  top: 25px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.score {
  font-size: 120px;
  color: #f37021;
  position: absolute;
  bottom: 451px;
  left: 50%;
  transform: translateX(-50%);
}

.buttoncontainer {
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
}

.your-score {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #002f87;
}

#score {
  font-size: 84px;
  color: #f37021;
  padding: 0;
  margin: 0;
  line-height: 117px;
}

.POINTS {
  font-size: 50px;
  color: #fff;
  padding: 0;
  margin: 0;
  -webkit-text-stroke: 2px #002f87;
  text-shadow: 0px 3px 0 #002f87;
}

.individual-scores span {
  font-size: 50px;
  color: #114a9f;
  position: absolute;
  top: 436px;
}

.individual-scores span:nth-child(1) {
left: 16%;
}

.individual-scores span:nth-child(2) {
  left: 48%;
}

.individual-scores span:nth-child(3) {
    left: 76%;
}
